@CHARSET "ISO-8859-1";

.woocommerce-breadcrumb, 
h1.page-title,
.woocommerce-result-count,
.woocommerce-ordering{
	display: none;
}

ul.products{
	margin-top: 2em !important;
}

.woocommerce ul.products li{
	/*background: url(images/big_shadow.png) center bottom no-repeat;
	padding-bottom: 20px !important;
*/
}

.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart{
	margin-left: 50px;
}

.gridlist-toggle{
	display: none;
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3{
	font-size: 22px !important;
	font-family: Bitter,Georgia,serif !important;
    line-height: 1.3 !important;
}

.add_to_cart_button{
	-moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: linear-gradient(to bottom, #B2361F 0%, #BA260B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-color: -moz-use-text-color -moz-use-text-color #B93207 !important;
    border-image: none !important;
    border-radius: 2px !important;
    border-style: none none solid !important;
    border-width: medium medium 3px !important;
    color: #FFFFFF !important;
    display: inline-block !important;
    padding: 11px 24px 10px !important;
    text-decoration: none !important;
    margin: 20px 0 !important;
}

.amount {
    color: #000;
    font-size: 2em;
}

.from{
    font-size: 1.5em !important;
}